<style>
  .offcanvas{
    background-color: #165f50;
  }
</style>
{{#if dashboard}}
{{!-- <div class="row dashPage">
  <nav class="col-2 navbar">
    <div class="layoutSidebar hideNav">
      <div class="sidebarButtons d-flex">
        <div class="toggle-bar" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions">
          <i class="fas fa-bars smHide hideable d-none"></i>
        </div>
        <a href="/"><i class="fas fa-home smHide hideable d-none"></i></a>
        <div class="flex-grow-1 "> </div>
        <i class="fas fa-close smHide hideable d-none" onclick="hideSidebar()"></i>
        <i class="fas fa-bars openNav " onclick="hideSidebar()"></i>
      </div>

      <div class="sidebarContents d-flex align-items-center">
        <div class="col-md-12 navitemsbar">
          <ul class="nav flex-column navbarMenue hideMenue">
            <li class="nav-item">
              <a class="nav-link text-left active" href="/dashboard">DASHBOARD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left" href="/dashboard/leaderboard"></i>LEADERBOARD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left" href="/dashboard/results">RESULT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left" href="/dashboard/settings">HOUSE BASED</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left" href="/dashboard/logout">SCHEDULE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="hideModePage hidePage">
    <div class="row">
      <div class="col contentSpace ">
        <div class="row g-3 container ">
          {{{body}}}
        </div>
      </div>
      <div class="col-2 sideSpace">
      </div>
    </div>
  </div>

</div> --}}
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
      <a href="/"><img class="logoImg" src="https://i.ibb.co/D9GWzT5/LOGO-P.png" alt="LOGO-P" border="0"></a>
    </i></div>
    <div class="list-group list-group-flush my-3">
      <a href="/dashboard" id="dashboard" class="list-group-item list-group-item-action bg-transparent second-text active fw-bold"><i
          class="fas fa-tachometer-alt me-2"></i>DASHBOARD</a>
      <a href="/dashboard/leaderboard"  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
          class="fas fa-chart-simple me-2"></i>LEADERBOARD</a>
      <a href="/dashboard/results" id="result" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
          class="fas fa-chart-line me-2"></i>RESULT</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
          class="fas fa-layer-group me-2"></i>HOUSE BASED</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
          class="fas fa-calendar-days me-2"></i>SCHEDULE</a>
      
        
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
        <h2 class="fs-2 m-0">{{title}}</h2>
      </div>

      
      
    </nav>

    <div class="container-fluid px-4">
      {{{body}}}
    </div>
  
  </div>
<!-- /#page-content-wrapper -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  var el = document.getElementById("wrapper");
  var toggleButton = document.getElementById("menu-toggle");

  toggleButton.onclick = function () {
    el.classList.toggle("toggled");
  };
</script>

{{else}}
<div class="homePage">
  
  {{{body}}}
</div>
<nav class="navbar fixed-top">
  <div class="container-fluid">

    <a href="/"><i class="fas fa-bell" style="color: #ffffff;"></i></a>


    <i class="fas fa-bell" style="opacity: 0;"></i>


    <div class="toggle-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions" onmouseenter="toggleNav()" onmouseleave="toggleNav()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    {{/if}}
    <div class="offcanvas offcanvas-end " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header position-relative">
        
        <div class="logarou">
          <img class="logimgside" src="/images/LOGO-P.png" width="500px" alt="" srcset="">
        </div>


        {{!-- <i class="bi bi-arrow-right-circle-fill" data-bs-dismiss="offcanvas" aria-label="Close"></i> --}}
        {{!-- <button type="button" class="btn-arrow" data-bs-dismiss="offcanvas" aria-label="Close"></button> --}}
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 ">
          <li class="nav-item">
            <a class="nav-link active navbartext" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/feeds">FEEDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/dowloads">DOWNLOADS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/dashboard">RESULTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/schedule">SCHEDULE</a>
          </li>

        </ul>

      </div>
      <div class="footer">
        <div class="signup">
          <a href="/admin" class="btn btnSi" role="button" aria-pressed="true">LOGIN</a>
        </div>
      </div>
    </div>
  </div>
</nav>



<script>
  function toggleNav() {
    const toggleButton = document.querySelector('.toggle-button');
    toggleButton.classList.toggle('open');
  }

  function hideSidebar() {
    const sidebar = document.querySelector('.layoutSidebar');
    const navbarMenue = document.querySelector('.navbarMenue');
    const navbarButtons = document.querySelectorAll('.hideable');
    const openNav = document.querySelector('.openNav');
    const page = document.querySelector('.hideModePage');
    const sideSpace = document.querySelector('.sideSpace');

    sidebar.classList.toggle('hideNav');
    navbarMenue.classList.toggle('hideMenue');
    navbarButtons.forEach(button => button.classList.toggle('d-none'));
    openNav.classList.toggle('d-none');
    page.classList.toggle('col-10');
    page.classList.toggle('hidePage');
    sideSpace.classList.toggle('sideSpace-decre');
    console.log('hide');

  }



</script>