<style>
  .carousel-tab {

    background-color: #c1efde;
    width: fit-content;
  }

  .carousel-tab p {
    font-size: 20px;
    font-weight: 500;
    color: #009d63;
    margin: 10px;
  }

  .total-headbar p {
    font-size: 20px;
    font-weight: 500;
    color: #fdfdfd;

  }

  .total-bar p {
    font-size: 20px;
    font-weight: 500;
    color: #009d63;

  }

  .bg-puk {
    background-color: rgb(255 150 0);

  }

  .bg-tho {
    background-color: green;

  }

  .bg-haq {
    background-color: rgb(255, 0, 0);
  }

  .bg-mur {
    background-color: rgb(0, 0, 255);
  }


  .bg-puk p,
  .bg-tho p,
  .bg-mur p,
  .bg-haq p {
    color: white;
    font-size: x-large;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .bg-puk h3,
  .bg-tho h3,
  .bg-mur h3,
  .bg-haq h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .list-group-item a {
    color: #c1efde;
  }

  .list-group-item {
    background-color: #009d63;
  }

  .nav-pills .nav-item .carousel-tab.active,
  .nav-pills .nav-item .carousel-tab.active p {
    background-color: #009d63;
    color: #fdfdfd;
  }

  .result-p {
    font-size: 15px;
    color: #009d63;
    margin: 0;
    padding: 0;
  }
</style>


<div class="row mt-3 g-3 pb-3">
  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">4</h3>
        <p class="fs-5">HOUSES</p>
      </div>
      <i class="fas fa-house fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">302</h3>
        <p class="fs-5">Candidates</p>
      </div>
      <i class="fas fa-people-group fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">600</h3>
        <p class="fs-5">Programs</p>
      </div>
      <i class="fas fa-pen fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">5</h3>
        <p class="fs-5">Days</p>
      </div>
      <i class="fas fa-calendar-days fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  {{!-- <div class="col-12">
    <div class="p-3 bg-white shadow-sm rounded" id="redirect">
      <div class="row g-3">
        <h3>Redirect to: </h3>
        <div class="col-md-4 col-sm-12">
          <ul class="list-group ">
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#H">Arts House Based</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#SJ">Arts Section Based - Sub
                Junior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#J">Arts Section Based -
                Junior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#S">Arts Section Based -
                Senior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#SS">Arts Section Based - Super
                Senior</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <ul class="list-group ">
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#HS">Sports House Based</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#SJS">Sports Section Based - Sub
                Junior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#JS">Sports Section Based -
                Junior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#SS">Sports Section Based -
                Senior</a></li>
            <li class="list-group-item  p-2"><a class="text-decoration-none" href="#SSS">Sports Section Based - Super
                Senior</a></li>
          </ul>
        </div>
      </div>


    </div>
  </div> --}}
  <div class="col-12">
    <div class="p-3 bg-white shadow-sm rounded">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab active rounded" id="pills-arts-home-base-tab" data-bs-toggle="pill"
            data-bs-target="#pills-arts-home-base" type="button" role="tab" aria-controls="pills-arts-home-base"
            aria-selected="true">
            <p>ARTS HOUSE BASED</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-arts-sub-junior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-arts-sub-junior" type="button" role="tab" aria-controls="pills-arts-sub-junior"
            aria-selected="false">
            <p>ARTS SUB JUNIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-arts-junior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-arts-junior" type="button" role="tab" aria-controls="pills-arts-junior"
            aria-selected="false">
            <p>ARTS JUNIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-arts-senior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-arts-senior" type="button" role="tab" aria-controls="pills-arts-senior"
            aria-selected="false">
            <p>ARTS SENIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-arts-super-senior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-arts-super-senior" type="button" role="tab" aria-controls="pills-arts-super-senior"
            aria-selected="false">
            <p>ARTS SUPER SENIOR</p>
          </div>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-arts-home-base" role="tabpanel"
          aria-labelledby="pills-arts-home-base-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam.houseBase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-arts-sub-junior" role="tabpanel"
          aria-labelledby="pills-arts-sub-junior-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam.subJuniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-arts-junior" role="tabpanel" aria-labelledby="pills-arts-junior-tab"
          tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam.JuniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-arts-senior" role="tabpanel" aria-labelledby="pills-arts-senior-tab"
          tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam.SeniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-arts-super-senior" role="tabpanel"
          aria-labelledby="pills-arts-super-senior-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam.superSeniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="p-3 bg-white shadow-sm rounded">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab active rounded" id="pills-sports-home-base-tab" data-bs-toggle="pill"
            data-bs-target="#pills-sports-home-base" type="button" role="tab" aria-controls="pills-sports-home-base"
            aria-selected="true">
            <p>SPORTS HOUSE BASED</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-sports-sub-junior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-sports-sub-junior" type="button" role="tab" aria-controls="pills-sports-sub-junior"
            aria-selected="false">
            <p>SPORTS SUB JUNIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-sports-junior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-sports-junior" type="button" role="tab" aria-controls="pills-sports-junior"
            aria-selected="false">
            <p>SPORTS JUNIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-sports-senior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-sports-senior" type="button" role="tab" aria-controls="pills-sports-senior"
            aria-selected="false">
            <p>SPORTS SENIOR</p>
          </div>
        </li>
        <li class="nav-item me-2" role="presentation">
          <div class="carousel-tab rounded" id="pills-sports-super-senior-tab" data-bs-toggle="pill"
            data-bs-target="#pills-sports-super-senior" type="button" role="tab"
            aria-controls="pills-sports-super-senior" aria-selected="false">
            <p>SPORTS SUPER SENIOR</p>
          </div>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-sports-home-base" role="tabpanel"
          aria-labelledby="pills-sports-home-base-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar2.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal2.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana2.houseBase}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam2.houseBase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-sports-sub-junior" role="tabpanel"
          aria-labelledby="pills-sports-sub-junior-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar2.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal2.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana2.subJuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam2.subJuniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-sports-junior" role="tabpanel" aria-labelledby="pills-sports-junior-tab"
          tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar2.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal2.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana2.JuniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam2.JuniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-sports-senior" role="tabpanel" aria-labelledby="pills-sports-senior-tab"
          tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar2.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal2.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana2.SeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam2.SeniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-sports-super-senior" role="tabpanel"
          aria-labelledby="pills-sports-super-senior-tab" tabindex="0">
          <div class="row g-3 my-2">
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-puk shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">PUKAINAR</h3>
                  <hr>
                  <p class="text-center">{{pukainar2.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-tho shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">THONGAL</h3>
                  <hr>
                  <p class="text-center">{{thongal2.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-haq shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">HAQANA</h3>
                  <hr>
                  <p class="text-center">{{haqana2.superSeniorBased}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="p-3 bg-mur shadow d-flex justify-content-around align-items-center rounded">
                <div>
                  <h3 class="text-center">MURUKKAM</h3>
                  <hr>
                  <p class="text-center">{{murukkam2.superSeniorBased}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="p-3 bg-white shadow-sm rounded">

      {{#each recentResult}}
      <br><br>
      <h3>{{pcode}} {{pname}}</h3>
      <br>
      <div class="row g-3">
        {{#each data}}
        <div class="col-md-4">
          <div class="bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div class="col-sm-4 ps-2">
              <img src="{{imageAdd}}" alt="" class="p-0 mt-2 mb-2 img-thumbnail rounded float-start">
            </div>
            <div class="col-sm-8 p-2">
              <h5>{{cname}}</h5>
              <p class="result-p"> Ad NO: <strong>{{cadno}}</strong>
                <br> House: <strong>{{house}}</strong>
                <br> Rank: <strong>{{pos}}</strong>
                <br> Grade: <strong>{{grade}}</strong>
                <br> Points: <strong>{{score}}</strong>
              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>
</div>