<style>

    .ppimg {
        width: 30px;
        height: 100%;
        border-radius: 5px;
    }

    .ppimg:hover {
        transform: scale(5);
		    z-index: 2;
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
    }

</style>
<div class="row my-5">
        <h3 class="fs-4 mb-3">Results</h3>
        <div class="col">
          <table class="table table-striped bg-white rounded shadow-sm  table-hover">
            <thead>
              <tr>
               
                <th scope="col">Photo</th>
                <th scope="col">CCode</th>
                <th scope="col">CName</th>
                <th scope="col">Pos</th>
                <th scope="col">Grade</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              {{#each results.data}}
              <tr>
                
                <td scope="row" class="text-center"><img class="ppimg"  src="{{imageAdd}}" alt=""></td>
                <td>{{CCode}}</td>
                <td>{{CName}}</td>
                <td>{{pos}}</td>
                <td>{{grade}}</td>
                <td>{{score}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

<script>
    var result = document.getElementById("result");
    var dashboard = document.getElementById("dashboard");

    result.classList.add("active");
    dashboard.classList.remove("active");
</script>