<div class="col-12">
    <h2>Results</h2>
    <div class="dashboard_box">
        <div class="row">
            <div class="col-12">
                
                <h1>{{results.ProgramC}} {{results.ProgramN}}</h1>
                
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                
                                <th>Ad No</th>
                                <th>Contestent Name</th>
                                <th>Position</th>
                                <th>Grade</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each results.data}}
                            <tr>
                                  
                                <td>{{this.CCode}}</td>
                                <td>{{this.CName}}</td>
                                <td>{{this.pos}}</td>
                                <td>{{this.grade}}</td>
                                <td>{{this.score}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>